/* Credits for main scripts
https://codepen.io/Dreamdealer/pen/yEmwd
https://codepen.io/Dreamdealer/pen/lmkHI
https://codepen.io/jakeduncan/pen/rJZJMM
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
  padding: 20px 80px;
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

a{
  text-decoration: none;
}

#logo {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -3px;
  line-height: 1;
  position: relative;
}

@media only screen and (min-width: 768px) {
  #logo{
    font-size: 90px;
    font-weight: 800;
    text-shadow: #EDEDED 3px 2px 0;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  #logo{
    font-size: 178%;
    font-weight: 800;
    text-shadow: none;
  }
}

.subtitle{
  color: #444;
  font-size: 38px;
  font-weight: 800;
  letter-spacing: -.07em;
  line-height: .9em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: .7em;
  border-bottom: 4px double #AAA;
  text-shadow: 
    1px 1px 0px white,
    2px 2px 0px #AAA
    ;
  position: relative;
  margin-bottom: initial;
}

.subtitle-center{
  color: #444;
  font-size: 38px;
  font-weight: 800;
  letter-spacing: -.07em;
  line-height: .9em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: .7em;
  border-bottom: 4px double #AAA;
  text-shadow: 
    1px 1px 0px white,
    2px 2px 0px #AAA
    ;
  position: relative;
  margin-bottom: initial;
}


.mainText{
  position: relative;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  line-height: 1.5em;
  text-align: justify;
  padding: 1.3em 0 2.4em;
  border-bottom: 4px double #999;
}

.box{
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.2);
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(255,255,255,1);
  position: relative;
}

.events{
  position: relative;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  line-height: 1.5em;
  text-align: justify;
  padding: 1.3em 0 2.4em;
  border-bottom: 4px double #999;
}

.columns{
  display: flex;
  flex-direction: row;
}

/* .events::after{

  text-align: center;
  width: 180px;
  position: absolute;
  font-weight: 400;
  font-size: 11px;
  text-shadow: none;
  letter-spacing: .2em;
  content: attr(data-after);
  bottom: -1em;
  left: 50%;
  margin: 0 0 0 -107px;
  background: #FFF;
  color: #777;
  padding: 2px 20px; 
  line-height: 14px;
  box-shadow: 0 0 0 1px #AAA inset;
  text-transform: uppercase;

} */

#inline-list{
  float: left;
}

.flags{
  font-size: 14px;
  font-weight: 300;
  color: #666;
}
/* Credits https://codepen.io/Dreamdealer/pen/yEmwd */

#container {
  max-width: 1070px;
  margin: 0 auto;
}

.ribbon {
 font-size: 16px !important;
 width: 100%;
 position: relative;
  lefT: -2em;
 background: #FEFEFE;
 text-align: center;
 padding: 1em 2em;
 margin: 2em auto .3em;
  box-shadow: 0 0 0 1px #DDD inset, 0px 5px 20px 0px rgba(0,0,0,.3);
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1.2em;
 border: 1.5em solid #BBB;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content {
 overflow: hidden; 
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #888 transparent transparent transparent;
 bottom: -.8em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: .8em 0 0 .8em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: .8em .8em 0 0;
}

.image{
  width: 50%;
  padding-left: 26%;
}

.image-text-left{
  float: left;
  width:50%;
  height:50%;
  margin-right:15px;
  min-width: 30%;
  min-height: 30%;
}

.image-text-left{
  float: center;
  width:50%;
  height:50%;
  margin-right:15px;
  min-width: 30%;
  min-height: 30%;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #FEFEFE;
  font-family: 'Open Sans', sans-serif;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #666;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #666;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #666;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}